{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}


{% block content %}
<pre>
</pre>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for subj in page.get_children %}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <a href="{% pageurl subj %}">
                    <h5 class="card-title">{{ subj.title }}</h5>
                </a>
                <p class="card-text">{{ subj.note|richtext  }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
